:root{
	--fontBold:			"Roboto";
	--fontMedium:		"Roboto";
	--fontLight:		"Roboto";
    
    --barraLateral:     #ae04af;
    --backgroundEscuro: #c154d3;
	  --backgroundClaro:  #e5a1f0;
    --texto:      		#a9559c;
    --titulo:  			#c154d3;
    --rodape:  			#c154d3;
}

html, body{
	width: 100%;
	height: 100%;
	
    padding: 0;
    margin: 0;
	
	overflow-x: hidden;
    scroll-behavior: smooth;
}

hr{
  background-color: var(--backgroundClaro);
}

.bg-menu {
  background-color: var(--barraLateral);
  /* max-width: 100px; */
}
.textoInicial{
  font-family:  var(--fontBold);
  color: #edf0f4;
  font-size: 22pt;
  font-weight: 500;

}
.textoBaixoBotao{
  font-family:  var(--fontBold);
  color: #edf0f4;
  font-size: 12pt;

}
.textoMenu{
  font-family:  var(--fontBold);
  color:  #edf0f4;
  font-size: 10pt;
}

.textoMenu:hover{
  color:  #edf0f4;
}

.hoverMenu:hover{
  color:  #edf0f4;
}

#main{
	min-height: 100vh;
}

.homeClass{
	min-height: 100vh;
}
.redeSocial{
  width: 100%;
  /* height: 20%; */
  margin-bottom: 30px;
}
.rede_social_icon{
  margin: 10px;
}

#main{
	  background-image: url('../img/imagem_topo_2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link{
  color:yellow;
  /* font-size:1.3em; */
  margin-right: 0px;
  padding: 9px;
}
a.nav-link:hover{
  background-color: #980a99;
}
.nav-link img{
  height: auto;
  width: 30px;
  
}

.AjustePosicao{
  height: 10vh;
}

.TituloSessao{
  /* margin-top: 30px; */
  margin-bottom: 20px;
  font-family:  var(--fontMedium);
  color: var(--texto);
  font-size: 35pt;
  font-weight: 400;
}

.TituloVideos{
  /* margin-top: 30px; */
  margin-bottom: 20px;
  font-family:  var(--fontMedium);
  color: yellow;
  font-size: 20pt;
  font-weight: 500;
}

.TituloCurso{
  /* margin-top: 30px; */
  margin-bottom: 20px;
  font-family:  var(--fontMedium);
  color: var(--texto);
  font-size: 15pt;
  font-weight: 550;
}

.textoSessao{
  font-family:  var(--fontMedium);
  color: var(--texto);
  font-size: 12pt;
  
  /* margin-bottom: 30px; */
}

.textoSobre{
  font-family:  var(--fontMedium);
  color: white;
  font-size: 12pt;
  margin-bottom: 30px;
}

.textoCurso{
  font-family:  var(--fontMedium);
  color: var(--texto);
  font-size: 12pt;
  /* margin-bottom: 30px; */
}

.beneficios{
  margin-top: 30px;
  margin-bottom: 30px;
}

.depoimentos{
  margin-top: 30px;
  margin-bottom: 30px;
}

.videosBox{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--backgroundEscuro);
  color:yellow;
}

.cursos{
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url('../img/bg_cursos.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.contato{
  margin-top: 30px;
  /* margin-bottom: 50px; */
  padding-top: 30px;
  padding-bottom: 50px;
  background-image: url('../img/bg_formulario.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.formulario{
  background-color: var(--backgroundEscuro);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.text-roxo{
  color: var(--texto);
}

.text-roxo:hover{
  color: white;
}

.footer{
  background-color: var(--rodape);
  height: 50px;
}

.boxCurso{
  background-image: url('../img/box_curso2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 554px;
  width: 266px;
  margin-bottom: 30px;
}

.botaoCurso{
  color:  white;
  font-family:  var(--fontMedium);
  font-weight: 550;
  font-size: 20pt;
  margin-bottom: 20px;
  margin-top: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.botaoCurso:hover{
  color: #980a99;

}

.imagemSilvia{

}

.sobre{
  background-image: url('../img/silvia_bg.png');
 
}


 /* Ajustando a posicao inicial de tudo utilizando uma div em branco com um tamanho fixo
 Dai a Div só existe quando a tela passa desse tamanho aqui */
@media (min-width: 560px) {
  .sobre{
    background-size: cover, contain;
    background-repeat: no-repeat;
    /* width: 100% ; */
    /* height: 494px; */
  }
  .AjustePosicao{
    height: 15vh;
  }
}
@media (max-width: 500px) {
  .boxCurso{
    margin-left: 10vw;
  }
 
  .sobre{
    background-size: auto 100%;
    background-position: center;
  }
  
}
/* Dando um espacinho entre os links do menu. */
/* Isso quando o menu tá ajustado do lado, ou seja, quando a tela é um pouco maior*/

@media (min-width: 768px) {
  .nav-link{
    margin-bottom: 30px;
  }
  
 
}

@media (max-width: 768px) {
  .imagemSilvia{
    display: none;
  }
 
}

a.bg-menu:hover, a.bg-menu:focus,
button.bg-menu:hover,
button.bg-menu:focus {
  background-color: #1d2124 !important;
}
